.editRecruiterBio-section {
  top: 140px;
  position: relative;
}

.editRecruiter-wrapper {
  margin-top: 25px;
  background: white;
  padding: 20px 35px;
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: 2px 5px 4px 2px #c3c3c3;
}

.editRecruiter-wrapper > form > * {
  margin-bottom: 15px;
}
