@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fbfbfb;
}

.container {
  width: 280px;
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

b {
  font-weight: 500;
}

ul {
  list-style: none;
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    width: 720px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
