.jobfeed-section {
  top: 140px;
  position: relative;
}

.jobCard-wrapper {
  display: flex;
  margin-bottom: 25px;
  padding: 25px;
  width: 540px;
  gap: 90px;
  align-items: baseline;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 3px 3px 2px #e7e7e7;
}

.jobfeed-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  margin-top: 25px;
}

.jobCard-left > *,
.jobCard-right > * {
  margin-bottom: 10px;
}

.jobCard-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.applyBtn,
.applyFullBtn {
  background: transparent;
  padding: 15px 35px;
  border: solid 2px #233c9b;
  outline: none;
  border-radius: 30px;
  font-weight: 600;
  color: #233c9b;
}

.jobApplied {
  background-color: #233c9b;
  padding: 15px 35px;
  border: solid 2px #233c9b;
  outline: none;
  border-radius: 30px;
  font-weight: 600;
  color: white;
}

.applyFullBtn {
  border: solid 2px #aaaaaa;
  color: #aaaaaa;
}

.applyBtn:hover {
  cursor: pointer;
  background-color: #233c9b;
  color: white;
  font-weight: 600;
}

.jobInfo-list {
  list-style: circle;
  list-style-position: inside;
}

.job-salary {
  background: #efefef;
  border-radius: 5px;
  color: black;
  padding: 4px 10px;
}
.view-more {
  color: #233c9b;
}

.view-more:hover {
  cursor: pointer;
}

.jobfeed-search {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  height: 45px;
  box-shadow: 1px 2px 3px 2px #e3e3e3;
  width: 580px;
  max-width: 600px;
}

.jobfeed-search > input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  font-size: 14px;
}

.jobfeed-filterHeader {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
  justify-content: center;
  margin-top: 50px;
}
