.myApplication-section {
  top: 140px;
  position: relative;
}

.applications-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.myApplication-section > .container > h1,
.myApplication-section > .container > h3 {
  margin-bottom: 15px;
}

.rejectBtn {
  background: transparent;
  padding: 15px 35px;
  border: solid 2px #233c9b;
  outline: none;
  border-radius: 30px;
  font-weight: 600;
  color: #233c9b;
  width: 100%;
}

.rejectBtn:hover {
  cursor: pointer;
}
