nav {
  background-color: white;
  padding: 25px 30px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #233c9b;
}

.nav-center {
  display: flex;
  width: 100%;
  margin: 5px auto;
  justify-content: space-between;
  align-items: center;
}

.nav-center h3 {
  color: white;
  font-weight: 600;
  font-size: 25px;
}

.recruiter-navbar-container {
  display: flex;
}

.recruiter-navbar-container > * {
  margin-left: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.recruiter-navbar-container svg {
  font-size: 18px;
}

.logo {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 25px 80px;
  }

  .recruiter-navbar-container svg {
    font-size: 24px;
  }
}
